.container-group {
  margin: 0 auto;
  max-width: 1600px;
  background-color: #191c26;
  // background-image: url(../images/contact-bg-img/Contact-bg-img.png);
  // background-repeat: no-repeat;
  // background-position: left calc(50% + 408px) top 50%;
}

// .contacts-container {
//   display: flex;
//   justify-content: space-between;
// }

.booking {
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  // width: 570px;
}

.booking-title {
  font-size: 42px;
  color: var(--white-text-color);
  margin-bottom: 44px;
}

.booking__groop {
  display: block;
  position: relative;

  @media screen and (min-width: $tablet) {
    display: flex;
  }

  // align-items: center;

  margin-bottom: 44px;
}

.booking-groop-fild {
  position: relative;
  display: block;

  @media screen and (min-width: $tablet) {
    flex-basis: 330px;
  }

  // flex-basis: 270px;
}

.booking-groop-fild:not(:last-child) {
  margin-bottom: 44px;

  @media screen and (min-width: $tablet) {
    margin-right: 30px;
  }
}

.booking-fild,
.booking-message {
  width: 100%;
  height: 24px;

  outline: unset;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  transition: border-color var(--transition-interactive-elements);
}

.booking-fild:focus,
.booking-fild:not(:placeholder-shown),
.booking-message:focus,
.booking-message:not(:placeholder-shown) {
  border-color: #ffffff;
}

.booking-fild::placeholder,
.booking-message::placeholder {
  font-size: 14px;
  color: rgba(157, 164, 189, 0.4);
  opacity: 0;
}

.booking-fild:focus::placeholder,
.booking-message:focus::placeholder {
  opacity: 1;
  transition-delay: 250ms;
}

.booking-label {
  position: absolute;
  top: 0;
  left: 0;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);

  transform-origin: left;
  transition: transform var(--transition-interactive-elements),
    color var(--transition-interactive-elements);
}

.booking-fild + .booking-label::after {
  content: "*";
  color: #ff6c00;
}

.booking-fild:focus + .booking-label,
.booking-fild:not(:placeholder-shown) + .booking-label,
.booking-message:focus + .booking-label,
.booking-message:not(:placeholder-shown) + .booking-label {
  transform: translateY(-100%) scale(0.8);
  color: #ffffff;
}

.booking-message {
  height: 76px;
  resize: none;
}

/* ===== Contacts =====*/

.contacts {
  // padding-left: 105px;
  // padding-top: 130px;
  // padding-bottom: 111px;
  // width: 570px;
}

.contact-title {
  font-size: 42px;

  color: var(--white-text-color);
  margin-bottom: 40px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.adres-wrap {
  margin-bottom: 44px;
  // margin-bottom: 70px;
  // width: 270px;
}

.contact__wrapper {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    flex-basis: 50%;
    gap: 30px;
  }
}

.contact__link {
  display: flex;
  gap: 16px;
}

.contacts .link {
  // display: flex;
  // gap: 16;
  font-style: normal;
  color: var(--text-on-dark);
  font-size: 18px;
  letter-spacing: 0.36px;
  line-height: calc(30 / 18);
}

.contacts .adres {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  font-weight: 700;

  transition-property: transform;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contacts .phone {
  align-items: center;
  margin-bottom: 20px;

  transition-property: transform;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contacts .mail {
  align-items: center;

  transition-property: transform;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.contacts .mail:hover,
.contacts .adres:hover,
.contacts .phone:hover {
  transform: scale(1.25);
}

.contact-phrases {
  color: var(--white-text-color);
}

.contact-phrases::before {
  background-color: rgba(157, 164, 189, 0.4);
}

.contact-descriptions {
  color: var(--text-on-dark);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.36px;
}
