.header {
  position: fixed;
  top: 0;
  left: 0;

  padding-top: 48px;
  width: 100%;
  z-index: var(--heder-idx);
  transition: background-color var(--transition-slow),
    backdrop-filter var(--transition-slow);

  @media screen and (min-width: $tablet) {
    padding-top: 0;
  }
}

.header.no-transparency {
  background-color: rgba(53, 56, 68, 0.6);
  backdrop-filter: blur(3px);
}

.header__container {
  display: flex;
  align-items: center;
}

.header.no-transparency .logo-svg {
  fill: #ffffff;
}

.header__contact-wrap {
  display: none;
  align-items: center;
  gap: 10px;

  @media screen and (min-width: 768px) {
    // display: block;
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    // display: flex;
    flex-direction: row;
    gap: 43px;
    padding-right: 20px;
  }
}

.tel {
  order: 10;
  display: block;
  // padding: 49px 0;
  padding-top: 10px;
  color: var(--white-text-color);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1.2px;
  text-transform: uppercase;

  transition: color var(--transition-interactive-elements);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-menu__btn {
  width: 40px;
  height: 40px;
  background-color: teal;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
