.portfolio {
  // @extend %section;

  @include section(84px, 84px);

  @media screen and (min-width: $tablet) {
    @include section(100px, 100px);
  }

  @media screen and (min-width: $desktop) {
    @include section;
  }
}

.portfolio-list {
  display: flex;
  gap: 30px;
}

.portfolio-upertitle {
  margin-bottom: 44px;
}
