.button {
  display: inline-block;
  min-width: 160px;
  min-height: 40px;

  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1.08px;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  padding: 11px 19px;
  cursor: pointer;
  @include transition(background-color, color);

  // transition: background-color var(--transition-interactive-elements),
  //   color var(--transition-interactive-elements);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #fff;
  }
}

.button.primary {
  color: var(--white-text-color);
}

.btn--secondary {
  color: var(--primary-text-color);
}
