.section {
  padding: 84px 0;
  @media screen and (min-width: $tablet) {
    padding: 100px 0;
  }

  @media screen and (min-width: $desktop) {
    padding: 120px 0;
  }
}

// padding: 120px 0;

//  @include section(84px, 84px);

//   @media screen and (min-width: $tablet) {
//     @include section(100px, 100px);
//   }

// @media screen and (min-width: $desktop) {
//     @include section;
